*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    font-size:18;
  
  }

  .body{
    font-family: 'Roboto', sans-serif;
}

.navbar-brand{
    font-size: 12px bold;
    font-weight: bold;
}
.nav-item{
    font-size: 16px bold;
}

.cbox{
    height:600px;
    align-items: center;
    background-image: url("/static/images/home-banner.png");
}
.home-search{
    display:flex;
    width:500px;
    height:100px;
    padding:0px 0px 0px 20px;
    align-items: center;
    
}
.search-col1{
    flex:3;
    height:50px;
    background: rgb(20, 183, 224);
}
.search-col2{
    flex:1;
    background: chartreuse;
}
.search-col1 input{
    width:100%;
    height:50px;
    border: 0px;
    background: #f1f1f1;
    font-weight: normal;
    /* border-radius:20px 0px 0px 20px; */
    box-shadow: none;
}
.search-col2 button{
    width:100%;
    height:50px;
    border: 0px;
    background: #d40bca;
    font-weight: normal;
    /* border-radius:20px 0px 0px 20px; */
    box-shadow: none;
}
.modal-footer1{
    text-align: left;
}

.reqdemo{
    background-color: blueviolet;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;;
  }
 
  .navbar-collapse a:hover {
    text-decoration: underline #FF4500;
    color: black;
  }

  .reqdemo a:hover{
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;;
  }


  .pak{
    background-color: rgba(238, 238, 238, 0.116);
    width: 250px;
    height: 200px;
    border: 1px solid rgb(26, 219, 233);
    border-radius: 5px;
    overflow: auto;
  }


  .form-control:focus {
    border-color: #ff80ff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
}
.avi{
    font-size: 12;
}

.mongo{
    
    color: #d40bca;
}

.tangra{
    display: flex;
}

.mongo{
    width:100px;
}
.emaildiv{
    word-wrap: break-word;
  }

  .second_related{
    display:none;
  }