.bg{
    background: ;
    width:100;
    height:100vh;
    background-size:200% ;
}
.form-container{
    background:#fff ;
    padding:30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width=30px;
  }
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
      background-size: 300%;
    }
  }