{% extends 'html/base.html' %}
{% load static %}
{% load search_extra %}
{% block sidebar %}

<div class="d-flex bd-highlight" style="background:rgba(5, 5, 5, 0.616);">
    <div class="p-2 flex-fill bd-highlight" style="width:60px;height:50px; ">
        <a class="" id="lead-href" role="button" href="{% url 'lead' %}" >
            <button type="button" class="lead-btn btn text-light btn-block">Lead</button>
        </a>
    </div>
    <div class="p-2 flex-fill bd-highlight" style=" width:60px; height:50px; ">
        <a class="" role="button" href="{% url 'account' %}">
            <button type="button"  class="accounts-btn btn text-light btn-block">Accounts</button>
        </a>
    </div>
</div>
<div class="container" style="height:600px; background-color:#1fae66;">
    <div class="overflow-auto" style="height:600px;  background-color:#1fae66">
    <form >
        <div class="floating-label" style="margin-top:20px; background-color:rgb(235, 238, 230);">      
            <input class="floating-input" type="text" placeholder=" ">
            <span class="highlight"></span>
            <label class="floating-label-all">Company Name <i class="fas fa-plus"></i></label>
        </div>

        <div class="floating-label dropdown" style=" background-color:rgb(235, 238, 230);">      
            <input class="floating-input dropdown-toggle" id="dropdownsl" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="text" placeholder=" ">
            <span class="highlight"></span>
            <label class="floating-label-all">Company size <i class="fas fa-plus"></i></label>
            <div class="overflow-auto dropdown-menu" aria-labelledby="dropdownsl" style=" width:90%; height:200px; background-color:rgb(160, 240, 32);">
                <div style=" margin-left:5px;">
                    <div class="checkbox select-all">
                        <input id="CompanysizeAllCheck" type="checkbox" />
                        <label for="all">All</label>
                    </div>
                    <div class="form-group form-check form-check-cs CompanysizeCheck">
                        <input type="checkbox" class="form-check-input avi" name="CS[]" value="1-10" />
                        <label class="form-check-label" for="exampleCheck1">1-10</label><br>
                        <input type="checkbox" class="form-check-input" name="CS[]" value="10-50" />
                        <label class="form-check-label" for="exampleCheck1">10-50</label><br>
                        <input type="checkbox" class="form-check-input" name="CS[]" value="50-200" />
                        <label class="form-check-label" for="exampleCheck1">50-200</label><br>
                        <input type="checkbox" class="form-check-input" name="CS[]" value="200-500" />
                        <label class="form-check-label" for="exampleCheck1">200-500</label><br>
                        <input type="checkbox" class="form-check-input" name="CS[]" value="500-1k" />
                        <label class="form-check-label" for="exampleCheck1">500-1k</label><br>
                        <input type="checkbox" class="form-check-input" name="CS[]" value="1k-5k" />
                        <label class="form-check-label" for="exampleCheck1">1k-5k</label><br>
                        <input type="checkbox" class="form-check-input" name="CS[]" value="5k-10k"/>
                        <label class="form-check-label" for="exampleCheck1">5k-10k</label><br>
                        <input type="checkbox" class="form-check-input"name="CS[]" value="10K - 50K" />
                        <label class="form-check-label" for="exampleCheck1">10k-50k</label><br>
                        <input type="checkbox" class="form-check-input" name="CS[]" value="50k+" />
                        <label class="form-check-label" for="exampleCheck1">50k+</label><br>
                    </div>
                </div>
            </div>
        </div>


        <div class="floating-label dropdown" style=" background-color:rgb(235, 238, 230);">      
            <input class="floating-input dropdown-toggle" id="dropdownsl" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="text" placeholder=" ">
            <span class="highlight"></span>
            <label class="floating-label-all">Department <i class="fas fa-plus"></i></label>
            <div class="overflow-auto dropdown-menu" aria-labelledby="dropdownsl" style=" width:90%; height:200px; background-color:rgb(160, 240, 32);">
                <div style=" margin-left:5px;">
                    <div class="checkbox select-all">
                        <input id="CompanysizeAllCheck" type="checkbox" />
                        <label for="all">All</label>
                    </div>
                    <div class="form-group form-check form-check-cs CompanysizeCheck">
                        <input type="checkbox" class="form-check-input avi" name="CS[]" value="Account" />
                        <label class="form-check-label" for="exampleCheck1">Account</label><br>
                        <input type="checkbox" class="form-check-input" name="CS[]" value="Marketing" />
                        <label class="form-check-label" for="exampleCheck1">Marketing</label><br>
                        <input type="checkbox" class="form-check-input" name="CS[]" value="Engineering" />
                        <label class="form-check-label" for="exampleCheck1">Engineering</label><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="floating-label" style=" background-color:rgb(235, 238, 230);">      
        <input class="floating-input" type="text" placeholder=" ">
        <span class="highlight"></span>
        <label class="floating-label-all">Industry <i class="fas fa-plus"></i></label>
        </div>

        <div class="geography">
            <p>Geography</p>
            <div class="floating-label" style=" background-color:rgb(235, 238, 230);">      
                <input class="floating-input" type="text" placeholder=" ">
                <span class="highlight"></span>
                <label class="floating-label-all">Country/States <i class="fas fa-plus"></i></label>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-secondary">Submit</button>
        </div>
    </form>
    </div>
</div>

{% endblock sidebar %}
